<% if stock.change > 0 then %>
<div class="good_stock">
<% else %>
<div class="bad_stock">
<% end %>
	<div class="stock_symbol">
		<%= stock.symbol %>
	</div>
	<div class="stock_change">
		<%= stock.change %>%
	</div>
	<div class="stock_value">
		<%= stock.value %>
	</div>
	<div class="stock_twit">
		<%= stock.last_twit.text %>
	</div>
	<div class="stock_delete">
		<%= link_to "Delete...", {:action => "delete", :id => stock.symbol}, :confirm => "Are you sure?" %>
	</div>
</div>
